#parse("./mypages/header.html")

#macro (comment_question, $vo)
<div>
    <a title="$!{vo.userName}" href="/user/${vo.userId}">
        <img src="$!{vo.userHead}">
    </a>
    <a href="/user/$!{vo.userId}">$!{vo.userName}</a>
    评论了该问题 ，$data.format('yyyy-MM-dd HH:mm:ss', $!{vo.createdDate})
    <div>
        ${vo.questionTitle}
    </div>

</div>
#end
<!--vo对应的是Feed-->

#macro (follow_question, $vo)
<div>
    <a title="$!{vo.userName}" href="/user/${vo.userId}">
        <img src="$!{vo.userHead}"></a>


    <div>
        <a href="/user/$!{vo.userId}">$!{vo.userName}</a>
        关注了该问题 ，$data.format('yyyy-MM-dd HH:mm:ss', $!{vo.createdDate})


        <div>${vo.questionTitle}</div>
    </div>

</div>
#end



<div class="container">
    <div class="row clearfix">
        <div class="col-md-2"></div>
        <div class="col-md-8 main-content">
            最新动态
            <hr>
            <div>
                #foreach($vo in $feeds)
                    #if($vo.type == 1)
                        #comment_question($vo)
                    #elseif($vo.type==4)
                        #follow_question($vo)
                    #end
                    <hr>
                #end
            </div>
        </div>
    </div>
</div>


#parse("footer.html")