
#parse("./mypages/header.html")
<div class="container">
    <div class="row clearfix">
        <aside class="col-md-2 sidebar"></aside>

        <div class="col-md-8">

            <div>
                <diV>
                    <a href="/user/${profileUser.user.id}">
                        <img src="${profileUser.user.headUrl}">
                    </a>
                    <h2>
                        ${profileUser.user.name} 的个人主页
                    </h2>

                </diV>
                <form id="guanzhuform" method="post">
                    <input type="hidden" name="userId" value="$profileUser.user.id">
                    #if ($profileUser.followed)
                    <button class="btn btn-sm " type="submit"
                            onclick="form=document.getElementById('guanzhuform');form.action='/unfollowUser'">取消关注
                    </button>
                    #else
                    <button  class="btn btn-sm " type="submit"
                            onclick="form=document.getElementById('guanzhuform');form.action='/followUser'">关注
                    </button>
                    #end
                </form>
                <div>

                    <a href="/user/${profileUser.user.id}/followers">${profileUser.followerCount}粉丝</a>
                    /
                    <a href="/user/${profileUser.user.id}/followees">${profileUser.followeeCount}关注</a>
                    /
                    <a href="#">${profileUser.commentCount} 回答</a>
                    /
                    <a href="#">548 赞同</a>
                </div>
            </div>


            <hr style="color: blue; border: 10px">
            <h2>
                我的动态:
                <hr>
            </h2>
            <div>
                #foreach($vo in $vos)
                <img src="$!{vo.user.headUrl}" />
                <h2>
                    <a href="/question/$!{vo.question.id}">$!{vo.question.title}</a>
                </h2>

                <div>
                    <div>
                        <a href="/user/$!{vo.user.id}">作者：$!{vo.user.name}</a>
                        ，发布于：$data.format('yyyy-MM-dd HH:mm:ss',${vo.question.createDate})
                    </div>
                    <a href="#">XX人赞同</a>

                    <div>${vo.question.content}</div>
                </div>

                <a>${vo.followCount}个关注</a>
                <a href="#" name="addcomment">
                    ${vo.question.commentCount} 条评论
                </a>
                <button  class="btn btn-sm " type="submit">
                    <a>关注问题</a>
                </button>

                <hr>
                #end

            </div>

        </div>
    </div>
</div>
#parse("js.html")
#parse("footer.html")