

<html>
<head></head>
<body>
    <h2>
        现在测试Param参数的获取的方法：主要由model，@PathVariable,@RequestParam这三种；

    </h2>>
        <br>
        $sb

    <h2>
        现在测试model中可以传入各种数据结构

    </h2>
    <br>
    </h2>放入list
    #foreach($li in $list)
        $li
        <br>
        $foreach.index ++++$foreach.count
        <br>
    #end


    </h2>放入map< String,User >
    #foreach($stu in $stus.entrySet())
          这是entrySet()的键与值：  $stu.key ===$stu.value </br>

    <br>

    #end

    #foreach($stuk in $stus.keySet())
    这是entrykeySet()的键: $stuk === $stus.get($stuk).toString() </br>
    </br>
    这是测试model的方法： $stus.get($stuk).sayHello()

    <br>

    #end

    <h2>
        现在Velocity的基本用法

    </h2>

    #set( $title =4)
    #parse("title.html")

    #if($title<2)
        您输入的数字太大了
    #else
        您输入的数字========
    #end


</br>
</br>
</br>

</h2>下面测试一组表单的提交

    <form action="/testform">
        参数inputStr:
        <input type="text" name="inputStr",value="shusas">
        参数intputInt:
        <input type="text" name="inputInt" value="3333">

        <input type="submit" value="提交">
    </form>




</body>


</html>