<html>

<head>


</head>

<body>
    Id:  $!{Id}
    Id:  $!{Id2}
    <br>
    Id:  ${Id}
    Id:  ${Id2}

<br>
<h2>=========</h2>

${list}

#foreach($color in $list)
    this is color: $color

#end

    <br>S
#foreach($ming in $colors.keySet())
    this is $ming
    <br>
    this is index: $foreach.index   yyu $foreach.count
#end

    <br>

#foreach($kv in $nums.entrySet())
    <br>
    $kv.key ======== $kv.value



#end

<h1>下面演示的是对象类的属性</h1>

    USER NAME : $user.name
    USER AGE : $user.age
    USER method :$user.sayHello()

<h1>
    #set($title = "HELLO")
    #parse("title.html")

    TITL:
    $title

</h1>





</body>
</html>